.neigboor-img {
  transform: scalex(-1);
  position: relative;
  top: 15vh;
  right: 65vw;
  height: 60vh;
  z-index: 4;
}
.home-buble {
  transform: scaleX(-1);
  width: 40%;
  height: 25vh;
  display: flex;
  justify-content: center;
  position: relative;
  right: 26%;
  top: -40vh;
  background-color: #f5ebeb;
  border: 0.8px solid black;
  border-radius: 10px;
  padding: 40px 20px;
  z-index: 3;
}
.main-container {
  transform: scalex(-1);
  justify-content: center;
}
.css-1ajfi66 {
  margin-left: 10px;
  width: 160px;
}
.css-bt223m {
  margin-right: 10px;
  width: 160px;
  height: 45px;
}
.grass{
  background: linear-gradient(120deg, #82E0AA, #58D68D, #2ECC71, #28B463, #239B56);

}

